.add-margin-top {
    margin-top: 90px;
}

.invalid-div {
    color: red;
}

.admin-panel {
    background-color: lightgrey;
    padding-bottom: 500px;
}

.admin-panel .active{
    color: aqua;
}

/* svg.bi.bi-cloud-arrow-down {
    height: 80px !important;
    width: 80px !important;
} */

.admin-card-link {
    text-decoration: solid;
}

.admin-card-link:hover {
    color: hotpink;
}

.margin-left-top {
    margin-left: 30px;
    margin-top: 8px;
}

.cards-set {
    /* background: #f7f7ff; */
    margin-left: 20px;
    /* margin-top: 20px; */
    margin-right: 10px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 26px;
    padding-bottom: 26px;

    font-size: 14px;
    color: #4c5258;
    letter-spacing: .5px;
    /* background: #f7f7ff; */
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
}