*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.landing-headerGradient{
    background: rgb(0,0,0,0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    
}
.landing-header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../LandingPage/assets/254381.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
.landing-nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.landing-nav img{
    width:100px;

}
.landing-nav-links{
    flex: 1;
    text-align: right;
}
.landing-nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.landing-nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.landing-nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.landing-nav-links ul li:hover::after{
    width:100%;
}
.landing-text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.landing-text-box h1{
    margin: 10px 0 40px;
    font-size: 50px;
    color: #fff;
}
.landing-text-box p{
    margin: 10px 0 40px;
    font-size: 13px;
    color: #fff;
}
.landing-hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:3px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.landing-hero-btn:hover{
    text-decoration: none;
    border:1px solid rgb(17,51,0);
    background: rgb(254, 235, 95);
    transition: 1s;
}

.city-carousal{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.city-carousal h2{
    font-size: 50px;
    font-weight: 600;
    color: black;
}

.city-carousal h3{
    font-size: 25px;
    font-weight: 600;
    color: hotpink;
}
.city-carousal p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
/* .row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
} */
/* .faculty-col{
    flex-basis: 31%;
    background: rgb(204,255,153,0.5);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
} */
/* .row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row2 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
} */
/* .faculty-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
} */
/*contact*/
.landing-contact{
    margin:100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../LandingPage/assets/1425.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.landing-contact h1{
    color:#fff;
    margin-bottom: 40px;
    font-size: 40px ;
    padding: 0;
}
.landing-footer{
    background: rgba(0, 0, 0);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.landing-footer-col{
    flex-basis: 31%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 10px 1px;
    box-sizing: border-box;
}
.landing-footer-col h1{
    margin-left: 65px;
    margin-bottom: 25px;
    font-size: 15px;
    color: #fff;

}
.landing-footer-col p{
    color: #777;
    font-size: 12px;
    margin-left: 60px;
    text-decoration: none;
}

.landing-footer-col a {
    text-decoration: none;
    color: aqua;
}
/*--------about us------*/
/* .sub-header{
    height: 50vh;
    width: 100%;
    background-image: url(about.jpg);
    color: #fff;
    background-position: center;
    background-size: cover;
    text-align: center;
} */
/* .sub-header h1{
    margin-top: 5%;
    font-size: 30px;
} */
/* .about-us{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
} */
/* .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
} */
/* .about-col{
    flex-basis: 31%;
    background: rgba(62, 86, 160, 0.5);
    border-radius: 20px;
    margin-bottom: 5%;
    margin-left: 0%;
    text-align: left;
    padding: 25px 25px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
} */
/* .about-col h1{
    color: #fff;
    text-align: center;
}
.about-col p{
    color: #fff;
    text-align: center;
} */

.image-width {
    width: 100%;
}

/* .image-heigh1 {
    height: 10%;
} */

.landing-contact a {
    margin-top: 12px;
    text-decoration: none;
    color: white;
}

.landing-contact a:hover {
    color: hotpink;
}