.add-margin-top {
    margin-top: 35px;
}

.invalid-div {
    color: red;
}

.admin-panel {
    background-color: #add8e6;
    padding-bottom: 140px;
}

.admin-panel .active{
    color: aqua;
}

/* svg.bi.bi-cloud-arrow-down {
    height: 80px !important;
    width: 80px !important;
} */

.admin-card-link {
    text-decoration: solid;
}

.admin-card-link:hover {
    color: hotpink;
}

.margin-left-top {
    margin-left: 30px;
    margin-top: 8px;
}