

.vbody {
	margin: 0;
    margin-top:65px;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
    background-image: url("../../../photos/viiewbookings.jpg");
    /* height: 100%; */
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover; 
	font-family: sans-serif;
	font-weight: 100;
    background-position: center top 65px ;
    

}

.viewbookingscontainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.viewbookingstable {
    margin-top:150px;
	width: 900px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.viewbookingsth,
.viewbookingstd {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

.viewbookingsth {
	text-align: left;
}

.viewbookingsth {
	
		background-color: #55608f;
}
.vtr:hover {
        background-color: rgba(255,255,255,0.3);
}
.vtd{
    position: relative;
    font-weight: 900;
    color: black;
    text-align: center;
}
.vtd:hover::before{
    
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;
    
}

